body {
  margin: 0;
  padding: 0;
  cursor: default;
  text-align: center;
  color: #000;
  background-image: linear-gradient(#ccc7ba, #e8e6e1);
  /*background-color: #ccc7ba;*/
}

#wrap {
  border: 0.15rem solid #66451f;
  background: #e8e8e0;
  text-align: left;
  margin: 2vh auto;
  width: 80vw;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 1rem;
  color: #222;
}

#header {
  text-align: center;
  background: #e8e8e0;
  border-bottom: 0.15rem solid #66451f;
  padding: 0.5rem 0 1rem 0;
  margin: 0 auto;
  width: 100%;
}

#header .about {
  margin: 0.6rem 0 0 0;
  padding: 0;
  /*font-style: italic;*/
  font-size: 1.2rem;
  color: #222;
}

#header .menu {
  font-weight: bold;
  margin: 0;
}

#header .menu a:link,
#header .menu a:visited {
  color: #222;
}

#maindiv {
  margin: 0.8rem auto 0 auto;
}

#maindiv .content {
  background-color: #e8e8e0;
  padding: 0 0 1.75rem 0;
  position: relative;
  display: block;
}

#maindiv .sublist {
  margin-left: 5.4rem;
  margin-right: 3rem;
}

#maindiv .subspan {
  margin-right: 5.4rem;
  margin-left: 1.5rem;
}

h2 {
  display: block;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  text-align: left;
  text-indent: 1.5vw;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

#maindiv p {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  padding: 0;
  margin: 0.6rem auto;
  width: 90%;
  display: block;
}

#maindiv p.boxed {
  border-style: inset;
  border-width: 0.1rem;
  border-color: #66451f;
  margin-top: 2rem;
  padding: 0.5rem;
}

#maindiv address a:link,
#maindiv address a:visited {
  margin-right: 0.3vw;
}

#maindiv address {
  font-size: 0.95rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #bbb;
  padding: 0.4vh 0 0.4vh;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: right;
}

#maindiv .important {
  font-size: 0.95rem;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  text-align: left;
  background-color: #f5f5f0;
  border: solid 0.1rem #888;
  padding: 0.8rem;
  margin: 1.5rem auto;
  width: 80%;
  line-height: 1.6rem;
}

#maindiv .important::before {
  display: none;
}

#maindiv .important p {
  font-size: 1rem;
  text-indent: 0;
  margin: 0.4rem 0 0.8rem 0;
}

#maindiv ul {
  margin: -0.7rem 0 0 2vw;
  *margin-left: 3vw;
}

#maindiv ol {
  margin: -0.7rem 0 0 1.5vw;
  *margin-left: 3vw;
}

#maindiv .important ul {
  margin: -0.7rem 0 0 1vw;
}

#maindiv .important ol {
  margin: -0.7rem 0 0 1.2vw;
}

#maindiv ul li {
  list-style-type: square;
  line-height: 1.5rem;
}

#maindiv ol li {
  line-height: 1.5rem;
}

#langdiv {
  border-left: 0.15rem solid #66451f;
  border-right: 0.15rem solid #66451f;
  border-bottom: 0.15rem solid #66451f;
  background-color: #e8e8e0;
  margin: 0 auto;
  width: 80vw;
}

#langdiv  span {
  padding: 0px 0.3rem;
  font-weight: bold;
  color: #666;
}

#langdiv .divider {
  border-left: 0.1rem dotted #66451f;
}

#portrait {
  float: left;
  margin: 0.6rem 0.75rem 0 1.8rem;
}

#license img {
  border-width:0
  width:7.5rem;
  height:2.64rem;
}

.t1 {
  font-weight: bold;
  width: 26%;
  text-align: right;
  clear: right;
  float: left;
  *float: none;
  *margin-left: 65px;
  line-height: 22px;
}

.t2 {
  text-align: left;
  width: 73%;
  float: right;
  *float: none;
  line-height: 22px;
}

.t3 {
  font-weight: bold;
  width: 25px;
  float: left;
  clear: left;
}

.code {
  font-family: monospace;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 1px 2px 0px 2px;
}

hr {
  margin: 0.7rem 0 0.7rem 0;
  padding: 0;
  height: 0.1rem;
  border: 0;
  color: #aaa;
  background-color: #aaa;
}

hr.floatfix {
  clear: both;
  color: #e8e8e6;
  background-color: #e8e8e6;
  *margin: 0;
  *padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #222;
  padding: 0.4rem 0 0.4rem 0;
  margin: 0;
  width: 100%;
}

h3,
h4,
h5 {
  margin: 1vh 2vw 1vh 1.5vw;
  padding: 0;
}

h3 {
  font-size: 1.25rem;
  font-style: italic;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  width: 100%;
  margin: 1vh 0 1.5vh 0;
  text-align: left;
  text-indent: 1.5vw;
  font-size: 1rem;
  font-style: italic;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

a:link,
a:visited {
  color: #804000;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:active {
  color: #222;
  border-bottom: 0.1rem solid black;
}

hr.divider {
  background-color: #66451f;
  margin-top: 0;
}
